.cardProducto {
    background-color: rgb(5, 153, 96);
    border-radius: 15px;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardProducto img {
    width: 18rem;
    object-fit: contain;
}

.cardProducto button {
    background-color: rgb(196, 218, 210);
    color: #1f583d;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}