.cardProducto {
    background-color: rgb(206, 228, 219);
    border-radius: 15px;
    width: 20rem;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardProducto img {
    width: 18rem;
    object-fit: contain;
}

.cardProducto button {
    background-color: rgb(44, 146, 109);
    color: #f6fcf9;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
}