header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 15px solid rgb(44, 146, 109);
    background-color: rgb(220, 230, 134);
}

ul{
    text-decoration: none
}

li {
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    margin: 30px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.logo {
    width: 100px;
}